# Metadata de Proyecto en GCP 
GCP_PROJECT_ID="<YOUR_GCP_PROJECT_ID>"
GCP_PROJECT_NUMBER="<YOUR_GCP_PROJECT_NUMBER>"
GCP_REGION="<YOUR_GCP_REGION>"

# --- IDENTIDADES (Nombres para creación) ---
# Terraform usará estos IDs y devolverá los emails como outputs
SA_INFRA_NAME="<NAME_FOR_INFRA_SERVICE_ACCOUNT>"
SA_AGENT_NAME="<NAME_FOR_AGENT_RUNNER_SERVICE_ACCOUNT>"

# --- RECURSOS ---
DATASET_ID="<YOUR_BIGQUERY_DATASET_ID>"
GCS_BUCKET_REPORTS="<YOUR_GCS_BUCKET_FOR_REPORTS>"

# Bucket para el estado de Terraform
GCS_BUCKET_TFSTATE="<YOUR_GCS_BUCKET_FOR_TERRAFORM_STATE>"