.web
*.db
assets/external/
.states
# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env
*.egg-info/
build/
static/dist/

# Secrets & Credentials
auth.json
keyfile.json
.gcp_credentials

# OS
.DS_Store

# node
node_modules/

db.sqlite3
.coverage
